{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
<h1>Thanks for your order!</h1>
<p>

    Contacter Nos :

    <a href="#">symbook@gmail.com</a>
</p>
</div>

{% endblock %}