{% extends 'base.html.twig' %}
{% block body %}
<h1>Bievenue sur le SITE DE VENTE PA PA PA PA PA PA PA I JUST WANNA BE YOUR SYMPHONYYYYYYYYYY</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nostrum laborum asperiores repellat nulla rerum fugiat fugit reprehenderit facere blanditiis debitis deleniti modi odit, fuga reiciendis maxime obcaecati. Possimus, voluptatem?
Est, quaerat eius? Totam similique tempore nesciunt cum quidem eveniet rem unde dolorem illum sequi necessitatibus fugit mollitia numquam dolor, vitae vel consequatur ea culpa assumenda ullam. Magnam, consequatur delectus.
Nesciunt voluptates tempora labore illum dicta sunt quisquam ipsam esse laboriosam maxime incidunt, non sint quaerat? Magnam, neque accusantium, tempora quas tenetur veritatis nobis architecto deserunt quod consequatur quibusdam temporibus.
Voluptatibus nisi aliquid possimus ut nulla, molestiae sapiente, explicabo dolor ratione ipsum ipsam! Soluta nam laboriosam cumque repellat autem possimus tempore aspernatur natus explicabo molestiae. Dolorum accusantium corrupti fugit a.
Dignissimos maxime earum pariatur cupiditate, officiis debitis odit quasi aspernatur. Doloribus temporibus quos saepe alias voluptatum animi molestiae quo minima, ipsam dignissimos consequuntur odit ad porro nemo veritatis debitis magni.</p>
{% endblock %}
