{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
        }
        .chart-container {
            position: relative;
            width: 80vw;
            height: 40vh;
        }
    </style>

    <div class="center-container">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: '{{ chart.type }}',
            data: {{ chart.data|json_encode|raw }},
            options: {{ chart.options|json_encode|raw }}
        });
    </script>
{% endblock %}